body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#content {
  height: 75vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 0vw;
}

.error {
  color: red
}

#log {
  overflow: auto;
  height: 25vh;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid gray;
}

#log p {
  margin: 0;
}

#log p:nth-child(2n) {
  background-color: #ffff99;
}

code {
  font-family: Menlo, monospace;
}
